<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!--"org\hibernate\hibernate-configuration-3.0.dtd">-->
<!--此文件只能放在根目录下-->
<hibernate-configuration>
    <session-factory>
        <!-- jdbc连接 -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost/bank</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <!-- 方言 -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- 自动建表 -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- 显示SQL -->
        <property name="hibernate.show_sql">true</property>

        <!-- 格式化SQL -->
        <property name="hibernate.format_sql">true</property>

        <!-- 注册映射文件 -->
        <mapping resource="hibernate/User.hbm.xml"/>
        <mapping resource="hibernate/Account.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
